<!DOCTYPE html>
<html>
    <head>
        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/states.js"></script>
        <script type="text/javascript" src="js/otherstates.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>

    <body ng-app="myApp" ng-controller="BaseController as base">
        
        <div class="wrapper" ng-controller="StatesController as stateCtrl">
        
        
        <!-- modal content -->
        <div class="modal fade" ng-repeat="state in stateCtrl.states" id="{{'largeModal' + state.id}}"" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="statename">Current Senator of {{state.state}}</div>
              </div>
              <div class="modal-body" ng-repeat="senators in state.senators">
                <div class="modalinfo">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="playername">{{senators.name}}</div>
                            <img class="modalpics" ng-src="{{senators.images}}"/>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="playername">Biography</div>
                            <div class="bio">{{senators.bio}}</div>
                            <br/>
                            <div class="playername">Platform Points</div>
                            <div>{{senators.platform}}</div>
                            <br/>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="playername">Opposing Candidates</div>
                            <div class="candidatestable">
                            <table class="table table-striped">
                                <tr ng-repeat="candidates in state.candidates">
                                    <td>{{candidates.name + " " + candidates.party}}</td>
                                </tr>
                            </table>
                            <div class="playername">Uncontested Senator of {{state.state}}</div>
                            <table class="table table-striped" ng-repeat="uncontested in state.uncontested">
                                <tr>
                                    <td>{{uncontested.name + " " + uncontested.party}}</td>
                                </tr>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
           </div>
          </div>


        <!-- end of modal content -->

        <div class="container">
            

        <h1>2016 Senator Race</h1>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-12 intro">View current senators and see who is running in the 2016 U.S. Senate election.
            Click on any contested senator to view their biography, platform (if running) as
            well as contesting candidates and the uncontested senator of that state.
            </div>
            <div class="input-group col-lg-3 col-md-3 col-xs-12 carddisplay">
                <input type="text" ng-model="display" class="form-control carddisplay" placeholder="Search" name="q">
            </div>
        </div>
        
        <h4>Narrow your results</h4>
        
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12 results">
            <select class="form-control" ng-model="sortParty">
                <option value="">Select a party</option>
                <option value="Republican">Republican</option>
                <option value="Democrat">Democrat</option>
            </select>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 results">
            <select class="form-control" ng-model="sortRunning">
                <option value="">Running in 2016?</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            </div>
        </div>
                   
        <h2>States with Contested Senators</h2>
        <div class="row">
            
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 playercard" ng-repeat="state in stateCtrl.states | filter: display | filter: {senators: {party: sortParty}} | filter: {senators: {running: sortRunning}}">
            <div class="cardcontents" data-toggle="modal" data-target="{{'#largeModal' + state.id}}">
            <div class="statename">{{state.state}}</div>
                            
            <div ng-repeat="senators in state.senators">  
                <img class="playerpics" ng-src="{{senators.images}}"/>
                <div class="playername">{{senators.name}}</div>
                <div class="row">
                    <div class="party"><strong>{{senators.party}}</strong></div>
                </div>
            </div>
            </div>
        </div><!-- end of cards -->
        </div> <!-- row close -->
        
        <div ng-controller="OthersController as otherCtrl">
        <h2>States with no Contested Senators</h2>
        <div class="row">
            <table class="table table-striped uncontestedtable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Party</th>
                    </tr>
                </thead>
                <tr ng-repeat="others in otherCtrl.others">
                    <td>{{others.name}}</td>
                    <td>{{others.state}}</td>
                    <td>{{others.party}}</td>
                </tr>
            </table>
        </div>
        </div> <!-- other ctrl -->
        </div> <!--row close -->
        </div> <!-- end of wrapper -->
        </div> <!-- container close -->
       
        
    </body>
</html>
